.verde{
    color:rgb(41, 204, 41);
}

.amarelo{
    color:rgb(223, 216, 12);
}

body{
    text-align: justify;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
}

.central{
    text-align: center;
}

.azul{
    color: royalblue;
}

.azulclaro{
    color: dodgerblue;
}