.verde{
    color:darkgreen;
}

.amarelo{
    color:orange;
}

body{
    text-align: justify;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: rgba(189, 183, 107, 0.637);
}

.central{
    text-align: center;
}

.azul{
    color: royalblue;
}

.azulclaro{
    color: dodgerblue;
}

.footer{
    background-color: rgb(189, 183, 107);
}
.div1{
    background-color: yellowgreen;
    padding: 10px;
    margin: 10px;

}

.div2{
    background-color: darkolivegreen;
    padding: 10px;
    margin: 10px;
}

.fonte{
    font-family:" 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ";
}

span{
    color:blue;
}

table{
    width: 400px;
}

th{
    border: 1px solid black;
    padding: 8px;
}

.td{
    background-color: blue;
}