.verde{
    color:darkgreen];
}

.amarelo{
    color:gold;
}

body{
    text-align: justify;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: rgba(189, 183, 107, 0.637);
}

.central{
    text-align: center;
}

.azul{
    color: royalblue;
}

.azulclaro{
    color: dodgerblue;
}

.footer{
    background-color: rgb(189, 183, 107);
}
.div1{
    height: 300px;
    width: 1080px;
    background-color: yellowgreen;

}